---
import {Content as ContactPage} from '../../content/contact/contact.md';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="about" description="test" />
		<style>
			.section {
				display: flex;
				align-items: center;
				flex-direction: column;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="section">
				<ContactPage />
			</section>
		</main>
		<Footer />
	</body>
</html>
