---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, WORKSHOP_COLLECTION } from '../../consts';
import Posts from '../../components/Posts.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				padding: 2em 0;
				margin: auto;
			}
			@media (min-width: 1080px) {
				main {
					width: 960px;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<Posts collection={WORKSHOP_COLLECTION} />
			</section>
		</main>
		<Footer />
	</body>
</html>