---
import Grid from './Grid.astro';
import GridItem from './GridItem.astro';
import Image from './Image.svelte';
import '../styles/banner.css';

interface Props {
	title: string;
	alt: string;
	url?: string;
}

const { title = 'title', alt='alt', url = '/blog-placeholder-6.jpg' } = Astro.props;
---
<div>
  <div class="wave entry-content">
    <span class="overlay" />
    <div class="overlay-text">
      <div class="overlay-text overlay-text-0"></div>
      <Grid>
        <GridItem>
          <h1 class="title">Start coding today</h1>,
        </GridItem>
        <GridItem>
          <p class="description">
            We need your code to help solving today's problems with
            tomorrow's technology, sustainable business models and providing
            essential community services and foundations to the future
            generations.
          </p>
        </GridItem>
      </Grid>
      <div class="overlay-text overlay-text-1"></div>
    </div>
  <Image
    title={title}
    url={url}
    alt={alt}
    media_type="image"
    fullWidth={true}
    width="3400"
    height="1455"
  />
</div>
</div>