---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, href, ...props } = Astro.props;

const { pathname } = Astro.url;

const isActive = pathname.length > 3 && (href as URL).toString().includes(pathname);
---

<a href={href} class:list={[className, { active: isActive }, 'nav-item']} {...props}>
	<slot />
</a>

<style>
	.nav-item {
		display: inline-block;
		text-decoration: none;
	}
	.nav-item.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
