---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, href, lang, ...props } = Astro.props;

const { pathname } = Astro.url;
const formatted = pathname.replace(/\/$/, "");
const isActive = pathname.length > 4 && (href as URL).toString().includes(formatted) || formatted === `/${lang}`;
---

<a href={href} class:list={[className, { active: isActive }, 'nav-item']} {...props}>
	<slot />
</a>

<style>
	.nav-item {
		display: inline-block;
		text-decoration: none;
	}
	.nav-item.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
